@model List<IoTDevice>
@{
    ViewData["Title"] = "Smart Water Meters";
}
<h2>@ViewData["Title"]</h2>

<div>
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Meter Id</th>
                <th>Apartment No</th>
                <th>Owner Email Address</th>
                <th>Last Activity Time</th>
                <th>View Water Consumption</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderByDescending(x => x.LastActivityTime))
            {
            <tr>
                <td>@item.DeviceId</td>
                <td>@item.Apptno</td>
                <td>@item.Email</td>
                <td>@TimeZoneInfo.ConvertTimeFromUtc(item.LastActivityTime, TimeZoneInfo.FindSystemTimeZoneById("India Standard Time"))</td>
                <td><a asp-action="WaterUsage" asp-route-id="@item.DeviceId"><button class="btn btn-primary">View</button></a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable(
                { "ordering": false }
            );
        });

    </script>
}

