@model List<MonthlyData>
@{

}
<h2>@ViewData["Title"]</h2>

<div class="content">

    <div style="width:90%;">
        <canvas id="canvas"></canvas>
    </div>
</div>
@section scripts {


    <script>

        var lineChartData = {
            labels: [
                '@Model[0].MonthYr',
                '@Model[1].MonthYr',
                '@Model[2].MonthYr',
                '@Model[3].MonthYr',
                '@Model[4].MonthYr',
                '@Model[5].MonthYr',
                '@Model[6].MonthYr',
                '@Model[7].MonthYr',
                '@Model[8].MonthYr',
                '@Model[9].MonthYr',
                '@Model[10].MonthYr',
                '@Model[11].MonthYr'
            ],
            datasets: [{
                label: 'Monthly Usage Data',
                borderColor: window.chartColors.red,
                backgroundColor: window.chartColors.red,
                fill: false,
                data: [
                '@Model[0].TotalWaterUsage',
                '@Model[1].TotalWaterUsage',
                '@Model[2].TotalWaterUsage',
                '@Model[3].TotalWaterUsage',
                '@Model[4].TotalWaterUsage',
                '@Model[5].TotalWaterUsage',
                '@Model[6].TotalWaterUsage',
                '@Model[7].TotalWaterUsage',
                '@Model[8].TotalWaterUsage',
                '@Model[9].TotalWaterUsage',
                '@Model[10].TotalWaterUsage',
                '@Model[11].TotalWaterUsage'
                ],
                yAxisID: 'y-axis-1',
            }]
        };

        window.onload = function () {
            var ctx = document.getElementById('canvas').getContext('2d');
            window.myLine = Chart.Line(ctx, {
                data: lineChartData,
                options: {
                    responsive: true,
                    hoverMode: 'index',
                    stacked: false,
                    title: {
                        display: true,
                        text: 'Monthly Usage Data '
                    },
                    scales: {
                        yAxes: [{
                            type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                            display: true,
                            position: 'left',
                            id: 'y-axis-1',
                        }],
                    }
                }
            });
        };


    </script>
}

